*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial;
}
html, body{
    height:100%;
    overflow-x:hidden;
}
body{

    background: radial-gradient(circle at top, #1a0b2e, #05010a);
    color: white;
    overflow-x: hidden;

}
body::before{
    content:"";
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: radial-gradient(circle, rgba(186,85,211,0.15), transparent 60%);
    pointer-events:none;
}

/*=========================
PAGES
=========================*/

.page{

    display:none;
    width:100%;
    min-height:100vh;
    flex-direction:column;
    align-items:center;

}

.active{

    display:flex;

}

/*=========================
PASSWORD
=========================*/
.centered{
    justify-content:center;
}
.passwordBox{
    background:rgb(255, 240, 255);
    color:black;
    padding:40px;
    border-radius:20px;
    text-align:center;
    box-shadow:0 0 20px rgb(245, 128, 245);

}

.passwordBox input{
    padding:10px;
    width:250px;
    margin:20px;
}

.passwordBox button{
    padding:12px 30px;
    cursor:pointer;

}

/*=========================
PAGE 1
=========================*/

#loveLetter{
    font-size: 18px;
    line-height: 1;
    white-space: pre-line;
    text-align: left;
    min-height: 200px;
}

/* blinking cursor effect */
#loveLetter::after{
    content: " |";
    animation: blink 0.8s infinite;
}

@keyframes blink{
    50%{ opacity: 0; }
}

#page1{
    background:url("images/background.png");
    background-size:cover;
    background-position:center;
}

.overlay{
    background:rgba(0,0,0,.55);
    width:100%;
    min-height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;

    padding:40px;
    box-sizing:border-box;
}

.gallery{
    display:flex;
    gap:30px;
    margin:40px;

}

.gallery img{
    width:250px;
    height:300px;
    object-fit:cover;
    border-radius:20px;
    transition:.4s;
    border:5px solid white;
}

.gallery img:hover{
    transform:scale(1.1) rotate(3deg);

}

/*=========================
BUTTONS
=========================*/

button{
    padding:15px 35px;
    border:none;
    background:rgb(255, 255, 255);
    font-size:18px;
    border-radius:15px;
    cursor:pointer;
    transition:.3s;
}

button:hover{
    transform:scale(1.1);

}

/*=========================
PAGE 2
=========================*/

#page2{
    background:linear-gradient(135deg,#ecc3ff,#523b61);
    color:black;
    padding:30px;
}

.top{

text-align:center;

margin-bottom:30px;

}

#countdown{

font-size:30px;

font-weight:bold;

margin-top:10px;

}

.content{

display:flex;

justify-content:center;

align-items:center;

gap:40px;

width:100%;

}

.side{

display:flex;

flex-direction:column;

gap:20px;

}

.side img{

width:180px;

height:220px;

object-fit:cover;

border-radius:20px;

transition:.4s;

}

.side img:hover{

transform:scale(1.1);

}

.letter{

background:white;

padding:40px;

width:500px;

border-radius:20px;

box-shadow:0 10px 20px rgba(0,0,0,.3);

text-align:center;

line-height:2;

}

.letter h2{

margin-bottom:20px;

}

/*=========================
PAGE 3
=========================*/

#page3{

    background:#b59fc2;
    color:#222;
    padding:40px;
    overflow-y:auto;
    width:100%;
    min-height:100vh;
    flex-direction:column;
    align-items:center;
    justify-content:flex-start;
    scroll-behavior:smooth;

}

.subtitle{
    margin-bottom:30px;
    font-size:20px;
}

.memoryContainer{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
    gap:30px;
    width:100%;
    max-width:1200px;
    margin-top:30px;
    padding-bottom:80px;
}

.memoryCard{
    background:white;
    border-radius:20px;
    padding:20px;
    box-shadow:0 10px 20px rgba(0,0,0,.15);
    transition:.4s;
}

.memoryCard:hover{
    transform:translateY(-10px);
}

.memoryCard img{
    width:100%;
    height:300px;
    object-fit:cover;
    border-radius:15px;
    margin-bottom:15px;
}

.memoryCard h3{
    margin-bottom:15px;
    text-align:center;
}

.memoryCard p{

line-height:1.7;

text-align:center;

}

.anniversary-title{
    font-size: 60px;
    color: white;
    text-align: center;
    text-shadow: 0 0 10px rgb(245, 162, 245), 0 0 20px rgb(245, 162, 245);
    
    animation: floatGlow 3s ease-in-out infinite;
}

/* FLOAT + GLOW ANIMATION */
@keyframes floatGlow{
    0%{
        transform: translateY(0px) scale(1);
        text-shadow: 0 0 10px rgb(245, 162, 245), 0 0 20px rgb(245, 162, 245);
        opacity: 0.8;
    }

    50%{
        transform: translateY(-10px) scale(1.05);
        text-shadow: 0 0 20px rgb(245, 162, 245), 0 0 40px rgb(245, 162, 245);
        opacity: 1;
    }

    100%{
        transform: translateY(0px) scale(1);
        text-shadow: 0 0 10px rgb(245, 162, 245), 0 0 20px rgb(245, 162, 245);
        opacity: 0.8;
    }
}

.hearts-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    overflow: hidden;
    z-index: 0;
}

/* each heart */
.heart{
    position: absolute;
    bottom: -20px;
    font-size: 18px;
    opacity: 0.7;
    animation: floatUp linear forwards;
    filter: drop-shadow(0 0 6px purple);
}

/* animation */
@keyframes floatUp{
    from{
        transform: translateY(0) scale(1);
        opacity: 1;
    }
    to{
        transform: translateY(-110vh) scale(1.5);
        opacity: 0;
    }
}

.stars-container{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 0;
}

/* star style */
.star{
    position: absolute;
    width: 3px;
    height: 3px;
    background: white;
    border-radius: 50%;
    opacity: 0.6;
    animation: twinkle 4s infinite ease-in-out;
}

@keyframes twinkle{
    0%,100%{ opacity: 0.2; transform: scale(1); }
    50%{ opacity: 1; transform: scale(1.5); }
}